body {
	
	font-family: 'Roboto', Arial, sans-serif;
}
header{
	background-color:#867979;
	text-align:center;
}
h2 {
	color: #ffb3b3;
}

main  {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 16px;
	margin:0px auto;
	max-width:100%;
}
	
main section{
	float:left;
	background-color: #867979;
	margin: 10px;
	border: 1px;
	padding: 10px;

}
main section img {
		width: 50%;
		height: auto;
		
	}

/*Large Size*/

@media screen and (max-width: 992px){
	main{
	grid-template-columns: 1fr 1fr 1fr;
		}
}

/*Medium Size*/

@media screen and (max-width: 760px) {
	main{
	grid-template-columns: 1fr 1fr;
	width:100%;
	   }
	
}
/*Small Size*/

@media screen and (max-width: 600px){
	main{
	grid-template-columns: 1fr;	
		}
	.third{
	grid-column:span 2;	
	}

}

