@media screen and (min-width:70em){

.logo{
	display:block;
	width:30px;
	margin-bottom:-50px;
}

#navigation{
	display:block;
}

nav ul .responsive{
	display:block;
}

nav ul li{
	display:block;
	float:left;
	background-color:silver;
	padding:10px;
	color:#191970;
	font-weight:800;
	font-family: 'Abril Fatface', cursive;
	list-style-type:none;
	text-decoration:none;
}

section article{
	margin:20px;
}








}