body{
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    color:#356333;
    max-width: 1400px;
    text-align: center;
}

header{
    display:flex;
}

.header{
    flex:1;
}

.navigation{
    list-style-type:none;
    flex-direction:row;
    margin:0 auto;
}

nav{
    text-decoration: none;
    background-color:#356333;
    padding:10px;
}

nav ul.responsive{
    display:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
    display:block;
    padding:.5rem 0;
    font-size 1rem;
    text-align:center;

}

ul li{
    list-style-type:none;
    text-decoration:none;
    margin:0;
    padding:30px;
    font-size: 24px;
}

li a:active{
    color:white;
}

li a:hover{
    padding:1px;
    margin:1px;
    background-color:white;
    color:#15381C;
}
