@media only screen and (min-width:60em){

    nav button{
        display:block;
    }
	
	.article{
		display:block;
	}
 
    ul li{
    list-style-type:none;
    text-decoration:none;
    }
    
  
    .contentbox{
        background-color:#bed;
    }




}