body{
	text-align:center;
	padding:15rem;
	
}

table{
	font-family:Ubuntu, sans-serif;
	border:2px solid gray;
	box-shadow:10px 10px 10px gray;
}

table, th, td{
	
	padding:.5rem;
}

th, td{
	text-align:center;
	padding:1rem;
	color:black;
}

thead{
	background-color:#7fb9c2 ;
	font-size:2rem;
	font-weight:700;
	color:black;
}

table tr:nth-child(2){
	background-color:#e7f0ed;
	color:black;
}

table tr:nth-child(3){
	background-color: #e7ffed;
	color:black;
}

table tr:nth-child(4){
	background-color:#e7f0ed;
	color:black;
}


table tr:nth-child(5){
	background-color: #e7ffed ;
	color:black;
}


.target{
	background-color:#628ca6;
	color:black;
}


table tr:nth-child(6){
	background-color:#e7f0ed;
	color:black;
}

table tr:nth-child(7){
	background-color: #e7ffed ;
	color:black;
}

tfoot{
	background-color:#7fb9c2 ;
	color:black;
}
