body{
	text-align:center;
	padding:15rem;
	
}

table{
	font-family:Ubuntu, sans-serif;
	border:2px solid gray;
	box-shadow:10px 10px 10px gray;
}

table, th, td{
	
	padding:.5rem;
}

th, td{
	text-align:center;
	padding:1rem;
	color:black;
}

table tr:nth-child(2){
	background-color:lightsteelblue;
	color:black;
}

table tr:nth-child(3){
	background-color:powderblue;
	color:black;
}

table tr:nth-child(4){
	background-color:lightsteelblue;
	color:black;
}


table tr:nth-child(5){
	background-color:powderblue;
	color:black;
}

table tr:nth-child(6){
	background-color:lightsteelblue;
	color:black;
}

table tr:nth-child(7){
	background-color:powderblue;
	color:black;
}

thead{
	background-color:cadetblue;
	font-size:2rem;
	font-weight:700;
	color:black;
}

tfoot{
	background-color:cadetblue;
	color:black;
}

.target{
	background-color:lightskyblue;
	color:black;
}

